
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.grid {
    margin: 50px 0px;
    display: grid;
    height: fit-content;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    border: 1px solid black;
    
}

 .box {
    
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: yellow;

}

.resultMessage {
    font-size: 30px;
}

.restart {
   
    border: 1px solid black;
    
}
h1 {
    margin: 1em;
    text-align: center;
    font-size: 50px;
    max-height: 33%;

    
}

