
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid {
    margin: 50px 0px;
    display: grid;
    height: fit-content;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    border: 1px solid black;
}

 .box {
    
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.resultMessage {
    font-size: 30px;
}

.restart {
    visibility: hidden;
    border: 1px solid black;
}
h1 {
    margin: auto;
    text-align: center;
    font-size: 50px;

    
}

/*
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    
}

.box {
    font-size: 8em;
    text-align: center;
}

.box.highlight{
    background-color: #f7b32c;
} 
 */
